/*
font-family: 'Righteous', cursive;
font-family: 'Roboto', sans-serif;
*/

::-webkit-scrollbar { display: none; } 

ion-icon {
    font-size: 25px;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
    
body {
    background-color: #E5E5E5;
    display: flex;
}
    
.header {
    width: 100%;
    height: 92px;
    background-color: #CF2B2B;
    box-shadow: 0px 4px 4px 0px #00000040;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 21px;
    z-index: 4;
}
    
.header h1 {
    font-weight: 400;
    color: #FFFFFF;
    font-size: 44px;
    line-height: 55px;
    font-family: 'Righteous', cursive;
}
    
.header p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}
    
.footer {
    background-color: #FFFFFF;
    width: 100%;
    height: 92px;
    position: fixed;
    bottom: 0;
    left: 0;    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4; 
}
    
.footer button {
    background-color: #CBCBCB;
    width: 364px;
    height: 61px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;    
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    border: none;
    padding: 0px 80px;
}
    
.corpo {
    width: 100%;
    margin: 123px 0px 92px;
    padding: 0px 19px 0px 19px;
}
    
.corpo > div {
    display: flex;
    flex-direction: column;
}
    
.texto {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 26px;
    color: #333333;
    width: 100%;
    margin-bottom: 17px;
}
    
.itens {
    width: 100%;
    display: flex;
    overflow-x: scroll;
}
    
.item {    
    min-width: 172px;
    max-width: 172px;
    height: 216px;
    background-color: #FFFFFF;    
    padding: 18px 0px 13px 0px;
    box-shadow: 0px 0px 10px -4px #00000040;
    border-radius: 9px;
    margin-bottom: 27px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    position: relative;
}
    
.item img {
    width: 144px;
    height: 87px;
    border-radius: 4px;
    margin-bottom: 8px;
    position: relative;
}
    
.descricao {
    width: 100%;
    height: 100%;
    padding-left: 18px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
    
.descricao h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #333333;
    line-height: 19px;
}
    
.descricao p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #A6A6A6;
    line-height: 18px;
}
    
.descricao h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    line-height: 19px;
}

.selecionado {
    box-shadow: 0px 0px 0px 5px #32B72F inset;
}

.iconeselecionado {
    position: absolute;
    color: #32B72F;
    bottom: 3%;
    right: 5%;
}

.notcheck {
    display: none;
}

.confirmapedido {
    background: #FFFFFFE5;
    width: 100%;
    height: 1058px;
    position: absolute;
    z-index: 4;
    display: flex;
}

.escondido {
    display: none;
}

.confirma {
    background: #50D074;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    width: 377px;
    height: 336px;
    margin: auto auto;
    border-radius: 9px;
}

.continuar button {
    background: #32B72F;
    color: #FFFFFF;
    font-weight: 700;
}